/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

 li {
  float: left;
  width: 60px;
  display: block;
  padding: 16px;
  margin: 10px;
  text-align: center;
  background-color: #3498DC;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }

 .input {
  display: flex;
  align-items: flex-end;
}

.btn {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  background-color: white;
  border: #CED4DA solid;
}

.btn:hover {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  background-color: white;
  border: #CED4DA solid;
}

.form-control {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
